.intro {
    min-width: 288px;
    max-width: 690px;
    margin: 0 0 92px 148px;
    overflow: hidden;
}

@media screen and (max-width: 1024px) {
    .intro {
        margin: 0 0 92px 48px;
    }
}

@media screen and (max-width: 767px) {
    .intro {
        margin: 0 auto 88px;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        margin: 0 16px 64px;
    }
}